.experienceBar{
    display: flex;
    align-items: center;
    max-width: 70%;
    margin: 10px auto;
    flex-wrap: wrap;
}

.experienceBar span{
    font-size: 1rem;
}

.experienceBar > div{
    flex: 1;
    height: 5px;
    border-radius: 4px;
    background: #aaa;
    margin: 0 1.5rem;
    position: relative;
}

.experienceBar > div > div{
    height: 5px;
    border-radius: 4px;
    background:#0F59FA;
}

span.currentExperience{
    position: absolute;
    top: 8px;
    transform: translateX(-50%);
}

.levelBar{
    flex-basis: 100%;
    margin-top: 15px;
}