.mainContainer{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    background: #f1f2f3;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 4px 4px 0px;
    border-radius: 5px;
}

.mainQuestion{
    flex-basis: 45%;
    margin-left: 5px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}
.background{
    flex-basis: 45%;
    flex: 1;
}

.background > img{
    width: 100%;
    border-radius: 0px 5px 5px 0px;
}

.mainQuestion > p{
    font-size: 1.2em;
    margin-bottom: 5px;
}

.mainQuestion > div{
    font-size: 1.1em;
    margin-bottom: 2px;
}

.mainQuestion > div > input{
    margin-top: 7px;
}

.mainQuestion > div > label{
    margin-left: 5px;
}

.heroeSelected{
    display: flex;
    flex-basis: 45%;
    max-width: 50%;
    justify-content: center;
    align-items: center;
}

.heroeSelectedImg{
    flex-basis: 50%;
}

.heroeSelectedImg img{
    width: 100%;
}


.option{
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
}

.buttonCorrection{
    background: greenyellow;
    padding: 10px 15px;
    font-size: 1.5em;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    flex-basis: 45%;
}

.buttonCancel{
    background: red;
    padding: 10px 15px;
    font-size: 1.5em;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    flex-basis: 45%;
}

.buttonStart{
    background: rgb(3, 158, 230);
    padding: 10px 15px;
    font-size: 1.5em;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    flex-basis: 100%;
    align-items: center;
}

.certo{
    flex-basis: 100%;
    justify-content: center;
    margin-top: 10px;
    padding: 15px 0px;
    border: solid 3px greenyellow;
    border-radius: 7px;
}

.certo > p{
    text-align: center;
    font-size: 1.5em;
    color: greenyellow;
}

.errado{
    flex-basis: 100%;
    justify-content: center;
    margin-top: 10px;
    padding: 15px 0px;
    border: solid 3px red;
    border-radius: 7px;
}

.errado > p{
    text-align: center;
    font-size: 1.5em;
    color: red;
}


@media (max-width: 740px){
    .mainQuestion{
        flex-basis: 100%;
        margin-left: 10px;
        margin-top: 5px;
    }
    .heroeSelected{
        display: none;
    }
    .background{
        flex-basis: 40%;
        border-radius: 5px;
    }
}