.main{
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    justify-content: space-around;
    margin: 40px auto;
    border-radius: 5px;
    padding: 20px;
}

.mainTitle{
    flex-basis: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 4px 4px 0px;
    background: #f1f2f3;
    border-radius: 5px;
    padding: 10px;
}

.mainContent{
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background: #f1f2f3;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 4px 4px 0px;
    border-radius: 5px;
    padding: 20px 0;
}

.radioItem {
    display: flex;
    position: relative;
    flex-basis: 100%;
    padding: 0 4px;
    margin: 10px 0 0;
} 
.radioItem input[type='radio'] {
    display: none;
}
.radioItem label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid var(--mainThemeColor);
    background-color: transparent;
} 
.radioItem input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 11px;
    left: 10px;
    content: " ";
    display: block;
    background: var(--mainThemeColor);
}